<div class="col-3 text-center">
  <a href="https://www.linkedin.com/in/louie-ormston-48810a150/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
<div class="col-3 text-center">
  <a href="https://github.com/leormston?tab=overview&from=2019-01-01&to=2019-01-28" target="_blank">
    <i class="fab fa-github-square"></i>
  </a>
</div>
<div class="col-3 text-center">
  <a href="https://www.facebook.com/louie.ormston.16" target="_blank">
    <i class="fab fa-facebook"></i>
  </a>
</div>
<div class="col-3 text-center">
  <a href="https://www.instagram.com/louie_ormston/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
</div>
