/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("spacebody.png");
  color: white;
  font-family: 'Major Mono Display', monospace;
  margin: 0px;
  line-height: normal;
}

p,
h5,
input,
#typexxx  {
  font-family: 'IBM Plex Mono', monospace;
}
#contentcontainer {
  background-color: transparent;
}

.navbar-brand {
  font-style: italic;
  font-family: 'Oswald', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

nav a:hover{
    color: blue;
    letter-spacing: .01rem;
}

textarea, select, input, button { outline: none; }

footer {
  background-color: #343A40;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-family: 'Major Mono Display', monospace;
}
.subtitle {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  font-family: 'Major Mono Display', monospace;
}

@media only screen and (min-width: 900px) {
  .title {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.25rem;
    font-family: 'Major Mono Display', monospace;
  }
  .subtitle {
    font-size: 1.9rem;
    letter-spacing: 0.25rem;
    font-family: 'Major Mono Display', monospace;
  }
};
