// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contentcontainer {
  background-color: black;
}
hr {
  border: 1px solid white;
}

.site-img {
  max-width: 100%;
  padding-top: 30%;
  padding-bottom: 10%;
}

#summarybackdrop {
  color: black;
  background-color: #f9fbff;
  border: 1px solid;
  border-radius: 30px;
}

#summarybackdrop:hover {
  background-color: yellow;
}

#summarycontainer {
  padding-bottom: 30px;
}
.mobile {
  display: none;
}

h1 {
  font-weight: 550;
}

.showtitle {
  text-align: center;
  font-size: 3vw;
}

.showlinks {
  text-align: center;
  font-size: 1.4vw;
  padding: 3px 10px;
  color: white;
  text-decoration: none;
}

.conciseinfo {
  font-family:  'Thasadith', 'Open Sans Condensed', sans-serif;
  border-right: solid white 2px;
}

@media only screen and (max-width: 900px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .showtitle {
    font-size: 7vw;
  }
}

#summaryspacing {
  padding-bottom: 400px;
}

.btmbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btmbutton {
  height: 50px;

}

.buttonheightportfolio {
  padding-top : 60px;
  padding-bottom: 150px;
}

.screenshot {
  padding-bottom: 40px;
  width: 100%;
}
